.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 879px) {
  .header {
    padding-left: 27px;
  }
}
