.post__delete {
  position: absolute;
  display: none;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../../../images/trash-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.post__delete_show {
  display: block;
}

.post__delete:hover,
.post__delete:focus {
  opacity: 0.6;
}
